.Parent {
    display: flex;
  }
  
  .Left {
    width: 50%;
    padding: 10px;
    border-radius: 30px;
  }
  
  .Right {
    width: 50%;
    margin-top: 40px;
  }

  .span1 {
    color: blue;
    font-size: x-small;
    font-weight: bold;
  }